// 按钮在默认情况下为行内块级元素，通过 block 属性可以将按钮的元素类型设置为块级元素。
.el-button-block {
  display: block;
  width: 100%;
}

// 导航菜单高亮
.is-active {
  background-color: rgba(236, 245, 255, 0.2) !important;
}
.is-opened {
  .el-sub-menu__title {
    background-color: rgba(25, 71, 138, 1) !important;
  }
}

.pull-right {
  float: right;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}